/* universal selector - baseline formatting for all page items */
* {
    box-sizing: border-box; /* ensures all element sizes include padding and border */
    padding: 0;
    margin: 0;
}

/* element selector to format element body */
body {
    background-color: lightgray;
    font-family: sans-serif
}


header {
    margin: 20px;
    font-family: sans-serif;
    background-color: #acc8d7;
    color: ;
}


.name{
    padding: 20px;
    display: inline-block;
    font-size: 50px;
}

.name:hover,
#about-me-title:hover,
#projects-title:hover,
#contact-info-title:hover {
    visibility: hidden;
}

.name:hover:before {
    visibility: visible;
    font-size: 50px;
    content: "d-a-v-i-d-w-r-i-g-h-t"
}

nav {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: right;
    font-family: sans-serif;
    font-size: 20px;
    background-color: aliceblue;
}


nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;

}

/* element selector to format element a (hyperlinks) */
a {
    color: black;
    text-decoration: none;
}




main {
    margin: 20px;
}

h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
}



#about-me-title:hover:before {
    visibility: visible;
    font-size: 30px;
    content: "a-b-o-u-t-m-e"
}

#about-me img {
    max-height: 200px;
    float: right;
}



#projects-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,200px);
    grid-gap: 20px;
}

#projects-grid-container img{
    width: 100%;
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
   }


#projects-title:hover:before {
    visibility: visible;
    font-size: 30px;
    content: "p-r-o-j-e-c-t-s"
}

.grid-item {
    background-color:#4c4c4c;
    color: whitesmoke;
    text-align: center;
    padding: 80px;
    font-size: 30px;
}

.grid-item a {
    color: whitesmoke;
}

#grid-item1 {
    grid-column: 1 / span 2;
    background-image: url("../images/horiseon-refactor.png");
    background-size: cover;
    background-blend-mode: multiply;
}

#grid-item2 {
    background-image: url("../images/cheat-sheet.png");
    background-size: cover;
    background-blend-mode: multiply;
}

#grid-item3 {
    background-image: url("../images/landing-page.png");
    background-size: cover;
    background-blend-mode: multiply;
}

#grid-item4 {
    background-image: url("../images/study-guide.png");
    background-size: cover;
    background-blend-mode: multiply;
}

#grid-item5 {
    background-image: url("../images/horiseon-refactor.png");
    background-size: cover;
    background-blend-mode: multiply;
}




#contact-info {
    padding-top: 20px;
    margin-right: 30px;
    text-align: left;
    font-family: sans-serif;
}


#contact-info-title:hover:before {
    visibility: visible;
    font-size: 30px;
    content: "c-o-n-t-a-c-t"
}


#contact-info ul {
    list-style-type: none;
    text-align: center;
}

#contact-info ul li {
    display: inline-block;
    margin-left: 5%;

}



  /* Large smartphones - grid changes to 1 column - up to 768px */
  @media screen and (max-width: 768px) {
    #projects-grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3,200px);
        grid-gap: 20px;
    }
    
    #grid-item1 {
        grid-column: 1 / span 1;
        background-image: url("../images/horiseon-refactor.png");
        background-size: cover;
        background-blend-mode: multiply;
    }
    
    
  }
