/* root pseudo-class for defining variables */
:root {
    --medium-blue: #acc8d7;
    --dark: #4c4c4c;
}

/* universal selector - baseline formatting for all page items */
* {
    box-sizing: border-box; /* ensures all element sizes include padding and border */
    padding: 0;
    margin: 0;
}

/* element selector to format element body */
body {
    background-color: lightgray;
    font-family: sans-serif
}


/* element selector to format element header */
header {
    margin: 20px;
    font-family: sans-serif;
    background-color: var(--medium-blue);
    color: ;
}


.name{
    padding: 20px;
    display: inline-block;
    font-size: 50px;
}

/* element selector with hover selector to format element header on hover */
header:hover  {
    box-shadow: inset 0 0 20px 10px
    var(--medium-blue), 0 0 20px 10px
    var(--medium-blue)
    }

/* class and id selectors with hover selector to hide elements on hover*/
.name:hover,
#about-me-title:hover,
#projects-title:hover,
#contact-info-title:hover {
    visibility: hidden;
}

/* class, hover, and before selectors to make alternate text content visible on hover */
.name:hover:before {
    visibility: visible;
    font-size: 50px;
    content: "d-a-v-i-d-w-r-i-g-h-t";
}

/* element selector to format element nav */
nav {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: right;
    font-family: sans-serif;
    font-size: 20px;
    background-color: aliceblue;
}


/* descendent selector to format all element ul inside element nav */
nav ul {
    list-style-type: none;
}

/* descendent selector to format all element li inside element ul inside element nav */
nav ul li {
    display: inline-block;
    margin-left: 25px;

}


/* element selector to format element a (hyperlinks) */
a {
    color: black;
    text-decoration: none;
}



/* element selector to format element main */
main {
    margin: 20px;
}

/* element selector to format element h2 */
h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
}


/* id, hover, and before selectors to make alternate text content visible on hover */
#about-me-title:hover:before {
    visibility: visible;
    font-size: 30px;
    content: "a-b-o-u-t-m-e"
}

/* id selector with element selector to format all img element inside id about-me */
#about-me img {
    max-height: 200px;
    float: right;
}


/* id selector to format id projects-grid-container */
/* grid has two columns, three rows */
#projects-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,200px);
    grid-gap: 20px;
}

/* descendent selector to format all img inside id projects-grid-container */
#projects-grid-container img{
    width: 100%;
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
   }

/* id, hover, and before selectors to make alternate text content visible on hover */
#projects-title:hover:before {
    visibility: visible;
    font-size: 30px;
    content: "p-r-o-j-e-c-t-s"
}

/* class selector to format all class grid-item */
.grid-item {
    background-color:var(--dark);
    color: whitesmoke;
    text-align: center;
    padding: 80px;
    font-size: 30px;
}


/* descendent selector to format all element a inside class grid-item */
.grid-item a {
    color: whitesmoke;
}


/* id selector to format id grid-item1 */
/* first grid item spans two columns */
/* background image added to id */
#grid-item1 {
    grid-column: 1 / span 2;
    background-image: url("../images/what-to-watch.png");
    background-size: cover;
    background-blend-mode: multiply;
}

/* id selector with :hover to format on hover */
#grid-item1:hover {
    box-shadow: inset 0 0 20px 10px
  var(--medium-blue), 0 0 20px 10px
  var(--medium-blue)
}

/* id selector to format id grid-item2 */
/* background image added to id */
#grid-item2 {
    background-image: url("../images/horiseon-refactor.png");
    background-size: cover;
    background-blend-mode: multiply;
}

/* id selector with :hover to format on hover */
#grid-item2:hover {
    box-shadow: inset 0 0 20px 10px
  var(--medium-blue), 0 0 20px 10px
  var(--medium-blue)
}

/* id selector to format id grid-item3 */
/* background image added to id */
#grid-item3 {
    background-image: url("../images/cheat-sheet.png");
    background-size: cover;
    background-blend-mode: multiply;
}

/* id selector with :hover to format on hover */
#grid-item3:hover {
    box-shadow: inset 0 0 20px 10px
  var(--medium-blue), 0 0 20px 10px
  var(--medium-blue)
}

/* id selector to format id grid-item4 */
/* background image added to id */
#grid-item4 {
    background-image: url("../images/landing-page.png");
    background-size: cover;
    background-blend-mode: multiply;
}

/* id selector with :hover to format on hover */
#grid-item4:hover {
    box-shadow: inset 0 0 20px 10px
  var(--medium-blue), 0 0 20px 10px
  var(--medium-blue)
}

/* id selector to format id grid-item5 */
/* background image added to id */
#grid-item5 {
    background-image: url("../images/study-guide.png");
    background-size: cover;
    background-blend-mode: multiply;
}

/* id selector with :hover to format on hover */
#grid-item5:hover {
    box-shadow: inset 0 0 20px 10px
  var(--medium-blue), 0 0 20px 10px
  var(--medium-blue)
}




/* class selector to format all class contact-info */
#contact-info {
    padding-top: 20px;
    margin-right: 30px;
    text-align: left;
    font-family: sans-serif;
}


/* id, hover, and before selectors to make alternate text content visible on hover */
#contact-info-title:hover:before {
    visibility: visible;
    font-size: 30px;
    content: "c-o-n-t-a-c-t"
}


/* descendent selector to format all ul inside id contact-info */
#contact-info ul {
    list-style-type: none;
    text-align: center;
}

/* descendent selector to format all li inside all ul inside id contact-info */
#contact-info ul li {
    display: inline-block;
    margin-left: 5%;
}

/* element selector to format element footer */
footer {
    margin: 20px;
    height: 60px;
    background-color: aliceblue;

}

/* Large smartphones - up to 768px */
/* Grid changes to 1 column */
@media screen and (max-width: 768px) {
    
    #projects-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #grid-item1 {
        grid-column: 1 / span 1;
    }
}
